
body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #da4453, #89216b);
    font-family: 'Times New Roman', Times, serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    position: relative;
    width: auto;
    height: auto;
    background: linear-gradient(to top, #ffefba, #ffffff);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 16px 0px #0B325E;
}
.login{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: linear-gradient(to top, #ffefba, #ffffff);
}

.login form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
}
.login form input{
    margin-top: 20px;
    margin-left: 0px;

}
.right{
    height: 100%;
    background:url("pic2.jpg") no-repeat center;
    background-size: cover;
    border-radius:0px 10px 10px 0px;
}
input{
    height: 30px;
    border: #ecdecd double 2px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow:0px 10px 13px -7px #a09485;
    margin-bottom: 10px;
    outline: none;
    margin-left: 0px;
}

#submit-btn{
    width: 200px;
    height: 35px;
    margin-top: 25px;
    border: none;
    border-radius: 2px;
    outline: none;
    text-align: center;
    background: linear-gradient(to top, #da4453, #89216b);
    color: #e6dfd6;
    padding: 0px;
    align-self: center;
    margin-bottom: 20px !important;
    cursor: pointer;
    box-shadow:0px 10px 13px -7px #6d3d0394
}
#response{
    color: #a09485;
    font-style: italic;
    margin-left: 0px;
    text-align: center;
}
.input-container {
    display: flex;
    width: 120%;
    margin-bottom: 15px;
    justify-content: center;
    align-items: baseline;
  }
